html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
body {
  background: #f5f4f0;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  display: block;
}
img {
  border: 0;
}
.whole {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 80px;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.text_overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/******************************************首页样式******************************************/
.topic_mechanic_top img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.topic_mechanic_bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.topic_mechanic_bg img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.topic_mechanic_fixed {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.topic_mechanic_fixed img {
  width: 350px;
  margin: 0 auto;
  vertical-align: bottom;
}
.topic_mechanic_fixed_active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}
.topic_mechanic_block {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.topic_mechanic_block .content {
  margin: 80px auto;
}
.topic_mechanic_tit {
  overflow: hidden;
  background: #d5010f;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 30px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  position: relative;
}
.topic_mechanic_tit img {
  position: absolute;
  top: 0;
  height: 100%;
  vertical-align: bottom;
}
.topic_mechanic_tit_left {
  left: 0;
}
.topic_mechanic_tit_right {
  right: 0;
}
.topic_mechanic_tit_word {
  width: 50%;
  font-size: 3em;
  margin: 0 auto;
}
.topic_mechanic_wrap_img {
  position: relative;
  width: 50%;
  float: left;
}
.topic_mechanic_wrap_img img {
  height: 400px;
}
.topic_mechanic_wrap_btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  background: #d5010f;
  color: #fff;
  padding: 6px 20px 8px 20px;
  border-radius: 30px;
  font-size: 1.2em;
  transition: background 0.5s, font-size 0.5s;
  -webkit-transition: background 0.5s, font-size 0.5s;
  -o-transition: background 0.5s, font-size 0.5s;
  -moz-transition: background 0.5s, font-size 0.5s;
}
.topic_mechanic_wrap_btn:hover {
  background: #9d000a;
  font-size: 1.1em;
}
.topic_mechanic_wrap_word {
  width: 50%;
  float: right;
  height: 400px;
}
.topic_mechanic_wrap_body {
  margin: 30px;
}
.topic_mechanic_wrap_tit {
  font-size: 1.7em;
  font-weight: bold;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.topic_mechanic_wrap_name {
  margin: 20px 0;
  background: #d5010f;
  color: #fff;
  padding: 2px 25px;
  border-radius: 20px;
  display: inline-block;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
}
.topic_mechanic_wrap_content {
  overflow: hidden;
}
.topic_mechanic_wrap_scoll {
  overflow-y: auto;
  height: 230px;
  width: 100.3%;
  padding-right: 10px;
  color: #000;
  line-height: 29px;
}
.preview_word {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #ec8501;
  bottom: 15px;
  left: 7.5%;
  background: #fff;
  font-size: 1.1em;
  font-weight: bold;
  padding: 3px 0;
  width: 85%;
}
.topic_mechanic_block_2 img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}
.topic_mechanic_card_outer {
  overflow: hidden;
}
.topic_mechanic_card_outer ul {
  overflow-y: auto;
  height: 620px;
  width: 101%;
}
.topic_mechanic_card_outer li {
  float: left;
  width: 30%;
  margin-right: 3%;
  background: #fff;
  margin-bottom: 30px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
}
.topic_mechanic_card_outer li:hover {
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
}
.topic_mechanic_card_outer li img {
  width: 50%;
  float: left;
  height: 130px;
}
.topic_mechanic_card_outer a {
  overflow: hidden;
}
.topic_mechanic_card_word {
  width: 50%;
  float: left;
}
.topic_mechanic_card_word_body {
  margin: 20px;
}
.topic_mechanic_card_name {
  font-size: 1.1em;
  color: #ec8501;
  margin-bottom: 5px;
}
.topic_mechanic_card_conmany {
  color: #000;
  line-height: 20px;
  font-size: 0.95em;
  height: 60px;
  overflow: hidden;
}
.topic_mechanic_list {
  overflow: hidden;
}
.topic_mechanic_list li {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 30px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
}
.topic_mechanic_list li:hover {
  transform: scale(0.95, 0.95);
  -ms-transform: scale(0.95, 0.95);
  -webkit-transform: scale(0.95, 0.95);
  -o-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
}
.topic_mechanic_list li:nth-child(3n) {
  margin-right: 0;
}
.topic_mechanic_list_time {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 25px;
  text-align: center;
  font-size: 1.5em;
}
.topic_mechanic_list_word {
  background: #fff;
  padding: 25px;
  color: #000;
}
.topic_mechanic_list_tit {
  font-size: 1.2em;
  line-height: 30px;
  height: 90px;
  overflow: hidden;
}
.topic_mechanic_list_content {
  background: #eeeeee;
  line-height: 30px;
  padding: 20px;
  margin: 20px 0;
  height: 180px;
  overflow: hidden;
}
.topic_mechanic_list_btn {
  background: #d5010f;
  color: #fff;
  border-radius: 20px;
  padding: 5px 0;
  text-align: center;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.topic_mechanic_list_btn:hover {
  background: #9d000a;
}
/*滚动图片*/
.run {
  width: 100%;
  overflow: hidden;
}
.run ul {
  overflow: hidden;
}
.run li {
  overflow: hidden;
  float: left !important;
  width: 300px !important;
  margin-right: 20px !important;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  background: #fff;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
}
.run li:hover {
  transform: scale(0.95, 0.95);
  -ms-transform: scale(0.95, 0.95);
  -webkit-transform: scale(0.95, 0.95);
  -o-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
}
.run a {
  padding: 15px;
}
.run img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
  height: 185px;
}
.topic_mechanic_bottom {
  color: #000;
  line-height: 30px;
  margin-top: 10px;
  height: 60px;
  overflow: hidden;
}
.run_btn {
  float: right;
  background: #d5010f;
  color: #fff;
  padding: 5px 40px;
  border-radius: 20px;
  margin: 30px 0;
  font-size: 1.2em;
  transition: background 0.5s, font-size 0.5s;
  -webkit-transition: background 0.5s, font-size 0.5s;
  -o-transition: background 0.5s, font-size 0.5s;
  -moz-transition: background 0.5s, font-size 0.5s;
}
.run_btn:hover {
  background: #9d000a;
}
.topic_mechanic_footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.71);
  color: #fff\9;
  font-size: 0.95em;
  padding: 30px 0;
  margin-top: 40px;
}
.topic_mechanic_footer_content {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #626262;
  padding: 30px 0;
}
.topic_mechanic_wrap {
  width: 100%;
  position: relative;
}
.swiper-slide {
  height: auto !important;
  position: relative;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  vertical-align: bottom;
}
.swiper-wrapper {
  height: auto !important;
}
.swiper-container {
  position: relative;
}
.pagination {
  position: absolute;
  z-index: 20;
  right: 10px;
  bottom: 40px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #fff;
  margin-right: 5px;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: red;
}
.arrow-left {
  background: #d5010f;
}
.arrow-right {
  background: #d5010f;
}
.pc-slide {
  width: 100%;
}
.view .swiper-container {
  width: 100%;
  background: #fff;
}
.preview {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.preview .swiper-container {
  width: 85%;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;
}
.preview .swiper-slide {
  width: 204px;
  text-align: center;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  cursor: pointer;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
}
.preview .arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 6%;
  height: 100%;
  z-index: 10;
  text-align: center;
}
.preview .arrow-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 6%;
  height: 100%;
  z-index: 10;
  text-align: center;
}
.preview .arrow-left img,
.preview .arrow-right img {
  width: 40%;
  height: auto;
  margin-top: 50%;
}
.preview img {
  width: 85%;
  height: 120px;
  margin: 0 auto;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  -moz-transition: border 0.5s;
}
.preview .active-nav {
  transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
  -o-transform: scale(0.85, 0.85);
  -moz-transform: scale(0.85, 0.85);
}
.preview .active-nav img {
  border: 5px solid #fff;
}
/******************************************列表页样式******************************************/
.topic_mechanic_inpage_body {
  background: #fff;
  padding: 30px;
  margin-top: 4%;
}
.topic_mechanic_name {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 20px;
}
.listpage_tittle {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #eeeeee;
}
.listpage_vertical_line {
  height: 60%;
  border-left: 7px solid #d5010f;
  display: inline-block;
  margin-top: 12px;
  float: left;
}
.listpage_tittle_word {
  display: inline;
}
.listpage_tittle_word img {
  width: 20px;
  margin: 20px 5px 0 10px;
  display: block;
  float: left;
}
.listpage_tittle_word a {
  display: inline-block;
  color: #626262;
}
.listpage_content {
  padding-top: 20px;
  overflow: hidden;
}
.listpage_left {
  float: left;
  width: 15%;
  border: 1px solid #eeeeee;
  min-height: 400px;
  position: relative;
}
.listpage_left_tittle {
  text-align: center;
  background: #d5010f;
  color: #fff;
  padding: 20px 0;
  font-size: 1.3em;
}
.listpage_left_tittle a {
  color: #fff;
}
.listpage_left_ul {
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}
.listpage_left_ul li a {
  color: #626262;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  -moz-transition: color 0.5s;
}
.listpage_left_ul li a:hover {
  color: #d5010f;
}
.listpage_left_line {
  height: 25px;
  border-left: 7px solid rgba(0, 0, 0, 0);
  margin-top: 12px;
  float: left;
  margin-right: 8px;
  margin-top: 8px;
}
.listpage_left_line_checked {
  height: 25px;
  border-left: 7px solid #d5010f;
  margin-top: 12px;
  float: left;
  margin-right: 8px;
  margin-top: 8px;
}
.listpage_right {
  float: none;
  width: 100%;
}
.listpage_right_tittle {
  padding: 20px 0;
  font-size: 1.3em;
  color: #626262;
}
.listpage_right_tittle a {
  color: #d5010f;
}
.listpage_right_ul {
  margin-left: 20px;
  color: #d5010f;
}
.listpage_right_ul li {
  list-style: disc;
  border-bottom: 1px dotted #eeeeee;
  height: 50px;
  line-height: 50px;
  padding: 0 1%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
  list-style: none none lower-roman;
}
.listpage_right_ul li:hover {
  background: #fff2d1;
}
.listpage_right_ul li a {
  overflow: hidden;
  font-size: 0.9em;
  width: 100%;
  float: right;
  color: #626262;
}
.list_name {
  float: left;
  width: 79%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list_time {
  float: right;
  width: 20%;
  text-align: right;
}
.pageing {
  margin-top: 4%;
  text-align: center;
}
.pageing a {
  display: inline-block;
  font-size: 0.7em;
  margin-bottom: 5px;
  padding: 10px 20px;
  color: #626262;
  border: 1px solid #eeeeee;
  transition: background 0.5s, color 0.5s, border 0.5s;
  -webkit-transition: background 0.5s, color 0.5s, border 0.5s;
  -o-transition: background 0.5s, color 0.5s, border 0.5s;
  -moz-transition: background 0.5s, color 0.5s, border 0.5s;
}
.pageing a:hover {
  border: 1px solid #d5010f;
  background: #d5010f;
  color: #fff;
}
.list_write_btn {
  float: right;
  width: 20%;
  margin-top: 3%;
  background: #d5010f;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  -moz-transition: background 0.5s;
}
.list_write_btn:hover {
  background: #9d000a;
}
.list_write_btn img {
  width: 25px;
  vertical-align: top;
}
.list_write_btn span {
  display: inline-block;
  margin-top: 2px;
}
/******************************************详情页页样式******************************************/
.detail_tittle {
  text-align: center;
  color: #d5010f;
  padding: 20px 0;
  line-height: 30px;
  font-size: 1.3em;
  border-bottom: 1px solid #eeeeee;
}
.detail_intro {
  text-align: center;
  margin: 20px;
  color: #959595;
  font-size: 0.8em;
}
.detail_content {
  margin-top: 20px;
  padding-bottom: 10px;
}
.inpage_form_intro {
  font-family: initial;
}
.inpage_form_intro div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  font-family: initial;
}
.detail_content div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  font-family: initial;
}
/******************************************图片列表样式******************************************/
.ninteenth_pic_list {
  overflow: hidden;
}
.ninteenth_pic_list a {
  float: left;
  width: 23.5%;
  width: 23%\9;
  margin-right: 2%;
  margin-top: 25px;
  text-align: center;
  background: #f3f3f3;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
}
.ninteenth_pic_list a:hover {
  opacity: 0.7;
}
.ninteenth_pic_list a:nth-child(4n) {
  margin-right: 0;
}
.ninteenth_pic_list img {
  width: 100%;
  height: 160px;
  vertical-align: bottom;
}
.ninteenth_pic_list_word {
  color: #bb282e;
  margin: 20px;
  height: 60px;
  overflow: hidden;
  line-height: 30px;
}
@media screen and (max-width: 1680px) {
  .topic_mechanic_top img {
    width: 116%;
    margin: 0 auto;
    vertical-align: bottom;
    margin-left: -8%;
  }
}
@media screen and (max-width: 1440px) {
  .topic_mechanic_top img {
    width: 134%;
    margin: 0 auto;
    vertical-align: bottom;
    margin-left: -17%;
  }
}
@media screen and (max-width: 1366px) {
  .topic_mechanic_top img {
    width: 140%;
    margin: 0 auto;
    vertical-align: bottom;
    margin-left: -20%;
  }
}
@media screen and (max-width: 798px) {
  .whole {
    margin-bottom: 20px;
  }
  .content,
  .topic_mechanic_footer_content {
    width: 96%;
    overflow: hidden;
  }
  .mobile_hidden {
    display: none;
  }
  /****************************************移动端 主页******************************/
  .topic_mechanic_block .content {
    margin: 30px auto;
  }
  .topic_mechanic_fixed img {
    width: 150px;
  }
  .topic_mechanic_tit {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .topic_mechanic_tit_word {
    font-size: 1.2em;
  }
  .topic_mechanic_wrap_body {
    margin: 20px;
  }
  .topic_mechanic_wrap_img,
  .topic_mechanic_wrap_word {
    float: none;
    width: 100%;
  }
  .topic_mechanic_wrap_name {
    width: 83%;
  }
  .topic_mechanic_card_outer ul {
    height: 600px;
  }
  .topic_mechanic_card_outer li,
  .topic_mechanic_list li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .topic_mechanic_wrap {
    width: 100%;
    position: relative;
    height: 275px\9;
    overflow: hidden;
  }
  .swiper-slide {
    height: auto !important;
    position: relative;
  }
  .swiper-slide img {
    width: 100%;
    height: 230px;
    vertical-align: bottom;
  }
  .swiper-wrapper {
    height: auto !important;
  }
  .swiper-container {
    position: relative;
  }
  .swiper-visible-switch {
    background: #aaa;
  }
  .swiper-active-switch {
    background: red;
  }
  .arrow-left {
    position: absolute;
    left: 22%;
    top: 35%;
  }
  .arrow-right {
    position: absolute;
    left: 73%;
    top: 35%;
  }
  /****************************************移动端 列表页******************************/
  .listpage_tittle {
    height: auto;
    line-height: 25px;
    padding: 10px 0;
  }
  .listpage_tittle img {
    width: 20px;
    margin: 3px 3px 0 0;
    float: left;
  }
  .listpage_right {
    float: none;
    width: 100%;
  }
  .listpage_right_tittle {
    padding: 20px 0;
    font-size: 1.3em;
    margin-left: 10px;
    color: #626262;
  }
  .listpage_right_ul {
    margin-left: 20px;
    color: #d5010f;
  }
  .listpage_right_ul li {
    list-style: disc;
    border-bottom: 1px dotted #eeeeee;
    min-height: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    padding: 0 1%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
    list-style: none none lower-roman;
  }
  .listpage_right_ul li:hover {
    background: #ededed;
  }
  .listpage_right_ul li a {
    overflow: hidden;
    font-size: 0.9em;
    width: 100%;
    float: right;
    color: #626262;
  }
  .list_name {
    float: left;
    width: 65%;
    text-overflow: inherit;
    white-space: inherit;
    overflow: inherit;
  }
  .list_time {
    float: right;
    width: 35%;
  }
  .pageing {
    width: 100%;
  }
  .pageing ul {
    overflow: hidden;
    margin-left: 20px;
    margin-top: 4%;
  }
  .pageing ul li {
    float: left;
    font-size: 0.7em;
  }
  .pageing ul li a {
    padding: 10px 20px;
    color: #626262;
    border: 1px solid #eeeeee;
    transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
  }
  .pageing ul li a:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    background: #d5010f;
    color: #fff;
  }
  .list_write_btn {
    float: none;
    clear: both;
    margin-left: 20px;
    margin-top: 18%;
  }
  /****************************************移动端 图片列表页******************************/
  /****************************************移动端 详情页******************************/
}
